body {
    margin: 0;
    font-family: Arial;
    background: #347bc7;
}

.dashboard {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #347bc7;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* adjust based on header height */
}

.card {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a i {
    margin-right: 8px;
}